@page
@model ProjectScheduleManagement.Pages.Schedule.IndexModel

@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classes[0].Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.schedules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Code) @Html.DisplayFor(modelItem => item.Teacher.Code) @Html.DisplayFor(modelItem => item.Subject.Code) @Html.DisplayFor(modelItem => item.Slot.SlotName) @Html.DisplayFor(modelItem => item.Room.Building.Code)-@Html.DisplayFor(modelItem => item.Room.Code)
                </td>
                <td>
                    <div class="d-flex">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                        <form method="post" asp-page-handler="Delete" onsubmit="return confirm('Are you sure you want to delete?');">
                            <button type="submit" class="btn btn-danger" name="ScheduleId" value="@item.Id">Delete</button>
                        </form>
                    </div>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPage > 1)
{
    <form method="get">
            @for (int i = 1; i < Model.TotalPage; i++)
                @if (i == Model.PageIndex)
                {
                    <button type="submit" name="pageindex" value="@i" style=" font-size:1.5em; font-weight:bold">@i</button>
                }
                else
                {
                    <button type="submit" name="pageindex" value="@i">@i</button>
                }
       
    </form>
}
